In [1]:
#question1
!pip install selenium

Requirement already satisfied: selenium in c:\users\h\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\h\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\h\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio~=0.17 in c:\users\h\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\h\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: sniffio in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: attrs>=19.2.0 in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\h\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\h\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\h\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\h\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [3]:
driver=webdriver.Chrome(r"C:\Users\h\Desktop\chromedriver.exe")

In [4]:
driver.get("https://www.naukri.com/")

In [5]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [6]:
location=driver.find_element(By.XPATH, "/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [7]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [8]:
job_title=[]
job_location=[]
company_name=[]
exp_req=[]

In [14]:
title_tags=driver.find_elements(By.XPATH, '//a[@class="title ellipsis"]')
for t in title_tags[0:10]:
    title=t.text
    job_title.append(title)
    
job_title

['Data Analyst/Senior Analyst - R/SQL/Python',
 'Data Analyst',
 'data analyst / data analytics - US MNC (analytics)',
 'Business Data Analyst (Sr Exe / Asst Manager)',
 'Junior Data Analyst/ Scientist- Fresher Position',
 'Staff Data Analyst',
 'Reference Data Analyst',
 'Sr Data Analyst',
 'Job Opportunity with Leading MNC - Senior Data Analyst',
 'Manager/Senior Manager - Data Analyst']

In [15]:
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for l in location_tags[0:10]:
    loc=l.text
    job_location.append(loc)

job_location

['Temp. WFH - Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Ahmedabad, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Temp. WFH - Bangalore/Bengaluru, Gurgaon/Gurugram',
 'Bangalore/Bengaluru',
 'Hybrid - Bangalore/Bengaluru, New Delhi, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hybrid - Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Ahmedabad, Jaipur, Delhi / NCR']

In [11]:
company_tags=driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
for c in company_tags[0:10]:
    com=c.text
    company_name.append(com)
company_name

['The Nikharv Consultancy',
 'Target',
 'Aspyra Hr Services',
 'Talentleads',
 'Sejal Consulting Hub',
 'Walmart',
 'Deutsche Bank',
 'Amolitalents',
 'Enrich And Enlight Business Consulting',
 'Huquo Consulting Pvt. Ltd']

In [12]:
exp_tags=driver.find_elements(By.XPATH, '//span[@class="ellipsis fleft expwdth"]')
for e in exp_tags[0:10]:
    ex=e.text
    exp_req.append(e.text)
    
exp_req

['3-6 Yrs',
 '2-4 Yrs',
 '3-8 Yrs',
 '3-5 Yrs',
 '0-5 Yrs',
 '10-14 Yrs',
 '6-8 Yrs',
 '6-9 Yrs',
 '5-7 Yrs',
 '2-7 Yrs']

In [16]:
import pandas as pd
nau=pd.DataFrame({'Title': job_title, 'Location': job_location, 'Name of the Comapny':company_name, 'Experience': exp_req})
nau

,Title,Location,Name of the Comapny,Experience
0,Data Analyst/Senior Analyst - R/SQL/Python,"Temp. WFH - Bangalore/Bengaluru, Kolkata, Mumb...",The Nikharv Consultancy,3-6 Yrs
1,Data Analyst,Bangalore/Bengaluru,Target,2-4 Yrs
2,data analyst / data analytics - US MNC (analyt...,"Temp. WFH - Bangalore/Bengaluru, Gurgaon/Gurugram",Aspyra Hr Services,3-8 Yrs
3,Business Data Analyst (Sr Exe / Asst Manager),Bangalore/Bengaluru,Talentleads,3-5 Yrs
4,Junior Data Analyst/ Scientist- Fresher Position,"Hybrid - Bangalore/Bengaluru, New Delhi, Mumba...",Sejal Consulting Hub,0-5 Yrs
5,Staff Data Analyst,Bangalore/Bengaluru,Walmart,10-14 Yrs
6,Reference Data Analyst,Bangalore/Bengaluru,Deutsche Bank,6-8 Yrs
7,Sr Data Analyst,Hybrid - Bangalore/Bengaluru,Amolitalents,6-9 Yrs
8,Job Opportunity with Leading MNC - Senior Data...,Bangalore/Bengaluru,Enrich And Enlight Business Consulting,5-7 Yrs
9,Manager/Senior Manager - Data Analyst,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Huquo Consulting Pvt. Ltd,2-7 Yrs

In [17]:
#question 2
!pip install selenium

Requirement already satisfied: selenium in c:\users\h\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\h\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\h\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\h\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\h\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: cffi>=1.14 in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: outcome in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sniffio in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: async-generator>=1.9 in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\h\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\h\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\h\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\h\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [18]:
#Question 2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [19]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [35]:
driver=webdriver.Chrome(r"C:\Users\h\Desktop\chromedriver.exe")

In [36]:
driver.get("https://www.naukri.com/")

In [37]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [38]:
location=driver.find_element(By.XPATH, "/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [39]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [40]:
job_tit=[]
job_loc=[]
company_name=[]

In [42]:
title=driver.find_elements(By.XPATH, '//a[@class="title ellipsis"]')
for t in title[0:10]:
    job_tit.append(t.text)
    
job_tit

['Data Scientist',
 'Data Scientist',
 'Analystics & Modeling Specialist',
 'Data Science Specialist',
 'Lead Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Staff Data Analyst',
 'Data Scientist',
 'Data Scientist Knowledge graph']

In [30]:
loca=driver.find_elements(By.XPATH, '//span[@class="ellipsis fleft locWdth"]')
for l in loca[0:10]:
    job_loc.append(l.text)
    
job_loc

['Bangalore/Bengaluru, Noida, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Gurgaon/Gurugram',
 'Temp. WFH - Bangalore/Bengaluru, Hyderabad/Secunderabad, Pune, Chennai, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai',
 'Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai',
 'Bangalore/Bengaluru, Noida, Hyderabad/Secunderabad, Pune, Chennai, Mumbai (All Areas)',
 'Hybrid - Bangalore/Bengaluru, Noida, Hyderabad/Secunderabad, Pune, Chennai, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hybrid - Bangalore/Bengaluru, Pune']

In [31]:
comp=driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
for c in comp[0:10]:
    company_name.append(c.text)

company_name

['Capgemini',
 'Tech Mahindra',
 'Accenture',
 'Accenture',
 'Birlasoft',
 'Birlasoft',
 'ANZ',
 'Walmart',
 'ANZ',
 'Capco']

In [32]:
import pandas as pd
ds=pd.DataFrame({'Title': job_tit, 'Job Location': job_loc, 'Company Name': company_name})
ds

,Title,Job Location,Company Name
0,Data Scientist,"Bangalore/Bengaluru, Noida, Kolkata, Mumbai, H...",Capgemini
1,Data Scientist,"Temp. WFH - Bangalore/Bengaluru, Hyderabad/Sec...",Tech Mahindra
2,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
3,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
4,Lead Data Scientist,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Birlasoft
5,Data Scientist,"Hybrid - Bangalore/Bengaluru, Noida, Hyderabad...",Birlasoft
6,Data Scientist,Bangalore/Bengaluru,ANZ
7,Staff Data Analyst,Bangalore/Bengaluru,Walmart
8,Data Scientist,Bangalore/Bengaluru,ANZ
9,Data Scientist Knowledge graph,"Hybrid - Bangalore/Bengaluru, Pune",Capco

In [33]:
# Question 3
!pip install Selenium

Requirement already satisfied: Selenium in c:\users\h\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\h\anaconda3\lib\site-packages (from Selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\h\anaconda3\lib\site-packages (from Selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\h\anaconda3\lib\site-packages (from Selenium) (1.26.11)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\h\anaconda3\lib\site-packages (from Selenium) (2022.9.14)
Requirement already satisfied: idna in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (3.3)
Requirement already satisfied: cffi>=1.14 in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (1.15.1)
Requirement already satisfied: sniffio in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (21.4.0)
Requirement already satisfied: outcome in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (2.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (1.1.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\h\anaconda3\lib\site-packages (from trio-websocket~=0.9->Selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\h\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->Selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\h\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->Selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\h\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->Selenium) (0.14.0)

In [51]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [127]:
driver=webdriver.Chrome(r"C:\Users\h\Desktop\chromedriver.exe")
driver.get("https://www.naukri.com/jobs-in-india?roleTypeFilterGid=169&ctcFilter=3to6&clusters=roleGid,salaryRange")

In [128]:
#job-title, job-location, company name, experience required.
work_tit=[]
work_loc=[]
work_name=[]
work_exp=[]

work_t=driver.find_elements(By.XPATH, '//a[@class="title ellipsis"]')
work_l=driver.find_elements(By.XPATH, '//span[@class="ellipsis fleft locWdth"]')
work_n=driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
work_e=driver.find_elements(By.XPATH, '//span[@class="ellipsis fleft expwdth"]')

for i in work_t[0:10]:
    work_tit.append(i.text)
for i in work_l[0:10]:
    work_loc.append(i.text)
for i in work_n[0:10]:
    work_name.append(i.text)
for i in work_e[0:10]:
    work_exp.append(i.text)
    
print(len(work_tit), len(work_loc), len(work_name), len(work_exp))

10 10 10 10

In [130]:
import pandas as pd
threetosix=pd.DataFrame({'Job Title': work_tit, 'JOb Location': work_loc,'Company Name':work_name,'Experience Required': work_exp})
threetosix

,Job Title,JOb Location,Company Name,Experience Required
0,Data Science Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,2-4 Yrs
1,Data Scientist,Bangalore/Bengaluru,ANZ,2-6 Yrs
2,Data Scientist,Bangalore/Bengaluru,Infosys,3-5 Yrs
3,Software Engineer Staff,Bangalore/Bengaluru,Juniper Networks,3-8 Yrs
4,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
5,Technology Analyst - Data Science / Machine Le...,Bangalore/Bengaluru,Infosys,3-5 Yrs
6,Data Scientist/Sr. Data Scientist,Bangalore/Bengaluru,Synechron,5-10 Yrs
7,Data Scientist - 2,Bangalore/Bengaluru,24 7 ai,1-3 Yrs
8,Analyst - Data Scientist,Mumbai,UPL Limited,2-3 Yrs
9,Lead Data Scientist,Bangalore/Bengaluru,Yulu,1-2 Yrs

In [56]:
#question 4
!pip install Selenium

Requirement already satisfied: Selenium in c:\users\h\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: trio~=0.17 in c:\users\h\anaconda3\lib\site-packages (from Selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\h\anaconda3\lib\site-packages (from Selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\h\anaconda3\lib\site-packages (from Selenium) (1.26.11)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\h\anaconda3\lib\site-packages (from Selenium) (2022.9.14)
Requirement already satisfied: attrs>=19.2.0 in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (21.4.0)
Requirement already satisfied: sniffio in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (3.3)
Requirement already satisfied: cffi>=1.14 in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (1.15.1)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (1.1.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (1.10)
Requirement already satisfied: outcome in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\h\anaconda3\lib\site-packages (from trio-websocket~=0.9->Selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\h\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->Selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\h\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->Selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\h\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->Selenium) (0.14.0)

In [57]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [58]:
driver=webdriver.Chrome(r"C:\Users\h\Desktop\chromedriver.exe")
driver.get("https://www.flipkart.com/")

In [61]:
product=driver.find_element(By.CLASS_NAME, "_3704LK")
product.send_keys('Sunglasses')

In [62]:
sear=driver.find_element(By.CLASS_NAME, "_34RNph")
sear.click()

In [63]:
#Brand,ProductDescription Price
Brand=[]
product=[]
price=[]

In [83]:
start=0
end=3
for page in range(start, end):
    br=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    pr=driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
    pri=driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
for b in br:
    Brand.append(b.text)
for p in pr:
    product.append(p.text)
for pi in pri:
    price.append(pi.text)

nextButton=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
nextButton.click()
time.sleep(4)

In [84]:
print(Brand)
print(product)
print(price)

['ROZZETTA CRAFT', 'ROZZETTA CRAFT', 'Fastrack', 'Elligator', 'Fastrack', 'Elligator', 'Elligator', 'ROZZETTA CRAFT', 'PHENOMENAL', 'LIZA ANGEL', 'Elligator', 'Silver Kartz', 'VINCENT CHASE', 'SRPM', 'SRPM', 'hayden haiza', 'PIRASO', 'PIRASO', 'SHAAH COLLECTIONS', 'ROZZETTA CRAFT', 'New Specs', 'LIZA ANGEL', 'SUNBEE', 'ARICKS', 'Fastrack', 'Fastrack', 'PIRASO', 'Eyewearlabs', 'PIRASO', 'LIZA ANGEL', 'VINCENT CHASE', 'Eyewearlabs', 'SRPM', 'EYELLUSION', 'Fastrack', 'PHENOMENAL', 'PIRASO', 'ROZZETTA CRAFT', 'Sewell', 'Silver Kartz', 'ROZZETTA CRAFT', 'Elligator', 'Fastrack', 'RESIST EYEWEAR', 'SUNBEE', 'VINCENT CHASE', 'PIRASO', 'Resist', 'Fastrack', 'NuVew', 'Elligator', 'ROZZETTA CRAFT', 'Elligator', 'PIRASO', 'PIRASO', 'ROZZETTA CRAFT', 'New Specs', 'ROZZETTA CRAFT', 'ROYAL SON', 'hayden haiza', 'VINCENT CHASE', 'Satyam Kraft', 'kingsunglasses', 'Silver Kartz', 'Fastrack', 'Elligator', 'Fastrack', 'ROZZETTA CRAFT', 'Fastrack', 'VINCENT CHASE', 'Fastrack', 'ARICKS', 'SUNBEE', 'PIRASO', 'NuVew', 'Silver Kartz', 'LIZA ANGEL', 'Elligator', 'kingsunglasses', 'PHENOMENAL', 'IZAAN MART', 'PROVOGUE', 'Fastrack', 'Elligator', 'Fastrack', 'Elligator', 'Elligator', 'Eyewearlabs', 'PHENOMENAL', 'LIZA ANGEL', 'VINCENT CHASE', 'IZAAN MART', 'Elligator', 'SRPM', 'PIRASO', 'IZAAN MART', 'SRPM', 'SHAAH COLLECTIONS', 'PIRASO', 'New Specs', 'New Specs', 'LIZA ANGEL', 'SUNBEE', 'ROYAL SON', 'ROZZETTA CRAFT', 'Fastrack', 'PIRASO', 'Eyewearlabs', 'Fastrack', 'SRPM', 'EYELLUSION', 'PROVOGUE', 'PIRASO', 'LIZA ANGEL', 'VINCENT CHASE', 'ROYAL SON', 'PIRASO', 'Fastrack', 'ROZZETTA CRAFT', 'Eyewearlabs', 'ROZZETTA CRAFT', 'Elligator', 'SUNBEE', 'SRPM', 'PIRASO', 'VINCENT CHASE', 'Fastrack', 'SRPM', 'Fastrack', 'NuVew', 'Elligator', 'Elligator', 'Elligator', 'ROZZETTA CRAFT', 'PIRASO', 'Elligator', 'PIRASO', 'New Specs', 'VINCENT CHASE', 'ROZZETTA CRAFT', 'ROYAL SON', 'Satyam Kraft', 'Fastrack', 'ROZZETTA CRAFT', 'Fastrack', 'kingsunglasses', 'Fastrack', 'Elligator', 'SUNBEE', 'Fastrack', 'VINCENT CHASE', 'Elligator', 'Anemone', 'EYELLUSION', 'NuVew', 'hayden haiza', 'ROYAL SON', 'LIZA ANGEL', 'PIRASO', 'Silver Kartz', 'ROZZETTA CRAFT', 'Elligator', 'SUNBEE', 'SRPM', 'PIRASO', 'VINCENT CHASE', 'Fastrack', 'SRPM', 'Fastrack', 'NuVew', 'Elligator', 'Elligator', 'Elligator', 'ROZZETTA CRAFT', 'PIRASO', 'Elligator', 'PIRASO', 'New Specs', 'VINCENT CHASE', 'ROZZETTA CRAFT', 'ROYAL SON', 'Satyam Kraft', 'Fastrack', 'ROZZETTA CRAFT', 'Fastrack', 'kingsunglasses', 'Fastrack', 'Elligator', 'SUNBEE', 'Fastrack', 'VINCENT CHASE', 'Elligator', 'Anemone', 'EYELLUSION', 'NuVew', 'hayden haiza', 'ROYAL SON', 'LIZA ANGEL', 'PIRASO', 'Silver Kartz', 'ROZZETTA CRAFT', 'ROZZETTA CRAFT', 'Fastrack', 'Elligator', 'Fastrack', 'Elligator', 'PHENOMENAL', 'Resist', 'LIZA ANGEL', 'Elligator', 'VINCENT CHASE', 'Silver Kartz', 'SRPM', 'PIRASO', 'SRPM', 'ROZZETTA CRAFT', 'SHAAH COLLECTIONS', 'kingsunglasses', 'PIRASO', 'ARICKS', 'New Specs', 'SUNBEE', 'Fastrack', 'Eyewearlabs', 'ROZZETTA CRAFT', 'Fastrack', 'PIRASO', 'PHENOMENAL', 'SRPM', 'EYELLUSION', 'PIRASO', 'PHENOMENAL', 'PIRASO', 'Fastrack', 'ROZZETTA CRAFT', 'Silver Kartz', 'Sewell', 'Elligator', 'SUNBEE', 'Intellilens', 'Sewell', 'Elligator', 'Fastrack', 'Resist', 'PIRASO', 'VINCENT CHASE', 'SUNBEE', 'ROZZETTA CRAFT', 'Elligator', 'Elligator', 'Fastrack', 'hayden haiza', 'NuVew', 'PIRASO', 'ROZZETTA CRAFT', 'PROVOGUE', 'New Specs', 'PIRASO', 'VINCENT CHASE', 'Eyewearlabs', 'ROYAL SON', 'Elligator', 'Fastrack', 'Soul Hub', 'kingsunglasses', 'Satyam Kraft', 'Fastrack', 'ROZZETTA CRAFT', 'VINCENT CHASE', 'ROZZETTA CRAFT', 'Fastrack', 'IZAAN MART', 'SUNBEE', 'Fastrack', 'VINCENT CHASE', 'ROZZETTA CRAFT', 'Elligator', 'kingsunglasses', 'PIRASO', 'NuVew']
['Polarized, Riding Glasses Sports, Wrap-around Sunglasse...', 'Others Cat-eye, Retro Square, Wayfarer Sunglasses (54)', 'UV Protection Cat-eye Sunglasses (Free Size)', 'UV Protection Wayfarer Sunglasses (53)', 'Polarized Wrap-around Sunglasses (45)', 'Polarized, UV Protection Round Sunglasses (51)', 'UV Protection Shield Sunglasses (Free Size)', 'Riding Glasses, Mirrored Wayfarer Sunglasses (54)', 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection, Mirrored Wayfarer Sunglasses (58)', 'UV Protection Round Sunglasses (53)', 'UV Protection Wayfarer Sunglasses (53)', 'UV Protection Aviator, Wayfarer Sunglasses (54)', 'UV Protection Aviator Sunglasses (62)', 'UV Protection Over-sized Sunglasses (65)', 'UV Protection Sports Sunglasses (54)', 'UV Protection Wayfarer Sunglasses (32)', 'UV Protection Retro Square Sunglasses (Free Size)', 'by Lenskart Polarized, UV Protection Aviator Sunglasses...', 'UV Protection, Gradient Round Sunglasses (Free Size)', 'UV Protection Rectangular, Retro Square Sunglasses (58)', 'Others Spectacle Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (58)', 'UV Protection, Gradient Rectangular Sunglasses (Free Si...', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection, Night Vision Wayfarer Sunglasses (Free S...', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Round Sunglasses (53)', 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...', 'UV Protection Wayfarer Sunglasses (Free Size)', 'Polarized, UV Protection Round Sunglasses (50)', 'UV Protection, Mirrored Wayfarer Sunglasses (54)', 'UV Protection, Gradient Rectangular, Spectacle Sunglas...', 'UV Protection, Riding Glasses, Gradient Aviator Sunglas...', 'UV Protection, Mirrored Aviator Sunglasses (58)', 'Mirrored Aviator Sunglasses (55)', 'UV Protection, Night Vision, Riding Glasses Wayfarer Su...', 'Others Retro Square Sunglasses (66)', 'UV Protection Aviator Sunglasses (88)', 'UV Protection, Gradient Round Sunglasses (Free Size)', 'UV Protection, Gradient Rectangular Sunglasses (Free Si...', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...', 'UV Protection Retro Square Sunglasses (53)', 'Toughened Glass Lens, UV Protection, Riding Glasses, Ph...', 'Riding Glasses, Night Vision Spectacle Sunglasses (Fre...', 'UV Protection Round Sunglasses (53)', 'UV Protection Wayfarer Sunglasses (59)', 'UV Protection Aviator Sunglasses (88)', 'UV Protection Wayfarer Sunglasses (50)', 'UV Protection Aviator Sunglasses (58)', 'Night Vision, UV Protection Round Sunglasses (54)', 'UV Protection Spectacle Sunglasses (Free Size)', 'UV Protection, Polarized, Mirrored Rectangular Sunglass...', 'UV Protection Retro Square Sunglasses (Free Size)', 'UV Protection Rectangular Sunglasses (52)', 'UV Protection, Polarized Rectangular Sunglasses (Free S...', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (Free Size)', 'Polarized, UV Protection Round Sunglasses (51)', 'UV Protection Aviator Sunglasses (55)', 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Clubmaster Sunglasses (54)', 'UV Protection Retro Square Sunglasses (53)', 'Others Wayfarer, Retro Square Sunglasses (50)', 'Night Vision, Polarized, UV Protection, Riding Glasses ...', 'UV Protection Aviator Sunglasses (54)', 'UV Protection Retro Square Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (Free Size)', 'UV Protection Wayfarer Sunglasses (Free Size)', 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...', 'UV Protection Wayfarer Sunglasses (Free Size)', 'Mirrored, Night Vision, UV Protection, Riding Glasses S...', 'Others Cat-eye, Retro Square, Wayfarer Sunglasses (54)', 'UV Protection Cat-eye Sunglasses (Free Size)', 'UV Protection, Polarized Aviator Sunglasses (Free Size)', 'Mirrored, Night Vision, UV Protection, Riding Glasses S...', 'Others Cat-eye, Retro Square, Wayfarer Sunglasses (54)', 'UV Protection Shield Sunglasses (Free Size)', 'Polarized Wayfarer Sunglasses (Free Size)', 'Polarized Wrap-around Sunglasses (45)', 'Polarized, UV Protection Round Sunglasses (51)', 'UV Protection Cat-eye Sunglasses (Free Size)', 'UV Protection, Gradient Retro Square Sunglasses (Free S...', 'UV Protection Round Sunglasses (53)', 'UV Protection Aviator, Wayfarer Sunglasses (54)', 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection, Mirrored Wayfarer Sunglasses (58)', 'UV Protection Wayfarer Sunglasses (32)', 'UV Protection Aviator Sunglasses (62)', 'UV Protection Retro Square Sunglasses (Free Size)', 'UV Protection Over-sized Sunglasses (65)', 'by Lenskart Polarized, UV Protection Aviator Sunglasses...', 'Polarized, UV Protection Retro Square Sunglasses (55)', 'UV Protection Rectangular, Retro Square Sunglasses (58)', 'UV Protection Wayfarer Sunglasses (53)', 'UV Protection Aviator Sunglasses (58)', 'UV Protection, Night Vision Wayfarer Sunglasses (Free S...', 'Others Spectacle Sunglasses (Free Size)', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection, Gradient Retro Square Sunglasses (Free S...', 'Polarized, UV Protection Round Sunglasses (50)', 'UV Protection, Gradient Rectangular Sunglasses (Free Si...', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection, Night Vision Aviator Sunglasses (Free Si...', 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...', 'UV Protection Wayfarer Sunglasses (Free Size)', 'by Lenskart Polarized, UV Protection Rectangular Sungla...', 'UV Protection Shield Sunglasses (Free Size)', 'UV Protection, Mirrored Wayfarer Sunglasses (54)', 'UV Protection Rectangular Sunglasses (Free Size)', 'Others Retro Square Sunglasses (66)', 'UV Protection Wayfarer Sunglasses (60)']
['₹497', '₹149', '₹129', '₹199', '₹397', '₹999', '₹579', '₹179', '₹519', '₹108', '₹149', '₹179', '₹149', '₹649', '₹342', '₹129', '₹214', '₹129', '₹699', '₹399', '₹497', '₹299', '₹839', '₹447', '₹519', '₹281', '₹579', '₹149', '₹283', '₹649', '₹949', '₹179', '₹492', '₹159', '₹112', '₹291', '₹398', '₹210', '₹214', '₹266', '₹399', '₹423', '₹599', '₹149', '₹499', '₹129', '₹129', '₹1,399', '₹174', '₹149', '₹599', '₹266', '₹149', '₹274', '₹179', '₹398', '₹129', '₹129', '₹182', '₹259', '₹259', '₹129', '₹579', '₹1,614', '₹649', '₹579', '₹257', '₹299', '₹129', '₹281', '₹244', '₹363', '₹268', '₹579', '₹497', '₹284', '₹280', '₹149', '₹129', '₹499', '₹280', '₹149', '₹579', '₹1,399', '₹397', '₹999', '₹129', '₹521', '₹149', '₹149', '₹519', '₹291', '₹108', '₹214', '₹649', '₹629', '₹129', '₹342', '₹699', '₹1,604', '₹497', '₹179', '₹839', '₹1,215', '₹281', '₹299', '₹519', '₹521', '₹949', '₹423', '₹579', '₹375', '₹283', '₹649', '₹679', '₹499', '₹179', '₹196', '₹214', '₹398']

In [85]:
len(Brand)

280

In [86]:
len(product)

116

In [87]:
len(price)

120

In [88]:
nameofbrand=Brand[0:100]
nameofbrand

['ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'Fastrack',
 'Elligator',
 'Fastrack',
 'Elligator',
 'Elligator',
 'ROZZETTA CRAFT',
 'PHENOMENAL',
 'LIZA ANGEL',
 'Elligator',
 'Silver Kartz',
 'VINCENT CHASE',
 'SRPM',
 'SRPM',
 'hayden haiza',
 'PIRASO',
 'PIRASO',
 'SHAAH COLLECTIONS',
 'ROZZETTA CRAFT',
 'New Specs',
 'LIZA ANGEL',
 'SUNBEE',
 'ARICKS',
 'Fastrack',
 'Fastrack',
 'PIRASO',
 'Eyewearlabs',
 'PIRASO',
 'LIZA ANGEL',
 'VINCENT CHASE',
 'Eyewearlabs',
 'SRPM',
 'EYELLUSION',
 'Fastrack',
 'PHENOMENAL',
 'PIRASO',
 'ROZZETTA CRAFT',
 'Sewell',
 'Silver Kartz',
 'ROZZETTA CRAFT',
 'Elligator',
 'Fastrack',
 'RESIST EYEWEAR',
 'SUNBEE',
 'VINCENT CHASE',
 'PIRASO',
 'Resist',
 'Fastrack',
 'NuVew',
 'Elligator',
 'ROZZETTA CRAFT',
 'Elligator',
 'PIRASO',
 'PIRASO',
 'ROZZETTA CRAFT',
 'New Specs',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'hayden haiza',
 'VINCENT CHASE',
 'Satyam Kraft',
 'kingsunglasses',
 'Silver Kartz',
 'Fastrack',
 'Elligator',
 'Fastrack',
 'ROZZETTA CRAFT',
 'Fastrack',
 'VINCENT CHASE',
 'Fastrack',
 'ARICKS',
 'SUNBEE',
 'PIRASO',
 'NuVew',
 'Silver Kartz',
 'LIZA ANGEL',
 'Elligator',
 'kingsunglasses',
 'PHENOMENAL',
 'IZAAN MART',
 'PROVOGUE',
 'Fastrack',
 'Elligator',
 'Fastrack',
 'Elligator',
 'Elligator',
 'Eyewearlabs',
 'PHENOMENAL',
 'LIZA ANGEL',
 'VINCENT CHASE',
 'IZAAN MART',
 'Elligator',
 'SRPM',
 'PIRASO',
 'IZAAN MART',
 'SRPM',
 'SHAAH COLLECTIONS',
 'PIRASO',
 'New Specs']

In [89]:
len(nameofbrand)

100

In [90]:
productdesc=product[0:100]
len(productdesc)

100

In [91]:
cost=price[0:100]
len(cost)

100

In [92]:
import pandas as pd
flip=pd.DataFrame({'Name of the Brand': nameofbrand, 'Product Description': productdesc, 'Price of the item': cost})
flip

,Name of the Brand,Product Description,Price of the item
0,ROZZETTA CRAFT,"Polarized, Riding Glasses Sports, Wrap-around ...",₹497
1,ROZZETTA CRAFT,"Others Cat-eye, Retro Square, Wayfarer Sunglas...",₹149
2,Fastrack,UV Protection Cat-eye Sunglasses (Free Size),₹129
3,Elligator,UV Protection Wayfarer Sunglasses (53),₹199
4,Fastrack,Polarized Wrap-around Sunglasses (45),₹397
...,...,...,...
95,IZAAN MART,"by Lenskart Polarized, UV Protection Aviator S...",₹629
96,SRPM,"Polarized, UV Protection Retro Square Sunglass...",₹129
97,SHAAH COLLECTIONS,"UV Protection Rectangular, Retro Square Sungla...",₹342
98,PIRASO,UV Protection Wayfarer Sunglasses (53),₹699
99,New Specs,UV Protection Aviator Sunglasses (58),"₹1,604"

In [93]:
#Question 5
#Scrape 100 reviews data from flipkart.com for iphone11 phone.
!pip install selenium

Requirement already satisfied: selenium in c:\users\h\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\h\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\h\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\h\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio~=0.17 in c:\users\h\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: sortedcontainers in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: attrs>=19.2.0 in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: outcome in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: wsproto>=0.14 in c:\users\h\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\h\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\h\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\h\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [94]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [95]:
driver=webdriver.Chrome(r"C:\Users\h\Desktop\chromedriver.exe")
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART")

In [104]:
Reviews=[]
Fullreview=[]
Rating=[]
st=0
en=10
for pg in range(st, en):
    resum=driver.find_elements(By.XPATH, '//p[@class="_2-N8zT"]')
    fullre=driver.find_elements(By.XPATH, '//div[@class="t-ZTKy"]')
    rat=driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
    for r in resum:
        Reviews.append(r.text)
    for f in fullre:
        Fullreview.append(f.text)
    for ra in rat:
        Rating.append(ra.text)
    
nextBut=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
nextBut.click()
time.sleep(10)

In [105]:
print(len(Reviews), len (Fullreview), len(Rating))

100 100 100

In [106]:
import pandas as pd
iphone=pd.DataFrame({'Review Summary': Reviews, 'Full Reviews': Fullreview, 'Ratings': Rating})
iphone

,Review Summary,Full Reviews,Ratings
0,Fabulous!,This is my first iOS phone. I am very happy wi...,5
1,Classy product,Best and amazing product.....phone looks so pr...,5
2,Worth every penny,"i11 is worthy to buy, too much happy with the ...",5
3,Value-for-money,Just got this iphone 11\nAnd it is most powerf...,4
4,Perfect product!,It’s a must buy who is looking for an upgrade ...,5
...,...,...,...
95,Good choice,So far it’s been an AMAZING experience coming ...,4
96,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...,5
97,Perfect product!,It is just awesome mobile for this price from ...,5
98,Highly recommended,iphone 11 is a very good phone to buy only if ...,5
99,Highly recommended,"Amazing camera quality as expected, battery al...",5

In [107]:
#Question 6
#Brand, ProductDescription, Price
!pip install selenium

Requirement already satisfied: selenium in c:\users\h\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\h\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\h\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\h\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\h\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: idna in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: async-generator>=1.9 in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: attrs>=19.2.0 in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sniffio in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\h\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\h\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\h\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\h\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [108]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [110]:
driver=webdriver.Chrome(r"C:\Users\h\Desktop\chromedriver.exe")
driver.get("https://www.flipkart.com/")

In [111]:
product=driver.find_element(By.CLASS_NAME, "_3704LK")
product.send_keys('sneakers')

In [112]:
sear=driver.find_element(By.CLASS_NAME, "_34RNph")
sear.click()

In [120]:
brnd=[]
prdesc=[]
pricing=[]

ini=0
final=3
for first in range(ini,final):
    branded=driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
    productdescrip= driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
    costprice=driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
    
    for i in branded:
        brnd.append(i.text)
    for i in productdescrip:
        prdesc.append(i.text)
    for i in costprice:
        pricing.append(i.text)
        
nextBut=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
nextBut.click()
time.sleep(3)

In [121]:
print(len(brnd), len(prdesc), len(pricing))

120 120 120

In [122]:
namebrand=brnd[0:100]
pr_desc=prdesc[0:100]
pric_ing=pricing[0:100]

In [123]:
print(len(namebrand), len(pr_desc), len(pric_ing))

100 100 100

In [125]:
import pandas as pd
sneaker=pd.DataFrame({'Brand Name': namebrand, 'Product Description': pr_desc, 'Price': pric_ing})
sneaker

     Brand Name                                Product Description   Price
0          PUMA                           Skipper Sneakers For Men  ₹1,639
1        Shozie  Stylish Sneakers Shoes for Women And Girls Sne...    ₹449
2         asics                           fuzor B Sneakers For Men  ₹1,708
3        BRUTON             2 Combo Sneaker Shoes Sneakers For Men    ₹599
4        DUCATI                      DT-SS22-128B Sneakers For Men  ₹1,559
..          ...                                                ...     ...
95       BRUTON             2 Combo Sneaker Shoes Sneakers For Men    ₹599
96       Layasa  Casual Sneakers White Shoes For Girls And Snea...    ₹449
97        Sparx                Men White Sneakers Sneakers For Men    ₹799
98  bacca bucci  Comfy Mid-Top Casual Chunky Streetwear Fashion...  ₹1,599
99      Numenzo                                   Sneakers For Men    ₹599

[100 rows x 3 columns]

In [131]:
#Question 7
!pip install selenium

Requirement already satisfied: selenium in c:\users\h\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\h\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\h\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\h\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\h\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: cffi>=1.14 in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: sortedcontainers in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: outcome in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: idna in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sniffio in c:\users\h\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\h\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\h\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\h\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\h\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [132]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [135]:
driver=webdriver.Chrome(r"C:\Users\h\Desktop\chromedriver.exe")
driver.get("https://www.jagranjosh.com/")

In [136]:
gk=driver.find_element(By.XPATH,'/html/body/div/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a')
gk.click()

In [137]:
prime=driver.find_element(By.XPATH, '/html/body/div/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
prime.click()

In [150]:
nameofpm=[]
born=[]
too=[]
remark=[]

na=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[3]/td[2]/p')
for i in na:
    nameofpm.append(i.text)

nameofpm

['Gulzarilal Nanda (Acting)']